

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;1,100;1,200;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,700;1,800&display=swap');


* {
    margin: 0;
    padding: 0;
  }
  

/*navbar*/

.logonavbar{
  height: 60px;
}

.nav-item{
  font-size: 18px;
  font-weight: 500;
}


.nav-item:hover{
  text-shadow: 1px 1px #c7c7c7;
  scale: 1.1;
  transition: 0.3s;
}


.navbar{
  background-color:  #e6eeff;
}

.btn-success{
  font-family: 'Comfortaa';
}

.btn-success:hover {
  transform: scale(1.1);
  transition: transform 0.2s;

}

#navbar1{
  background-color: #16cafe;
}

.botaologin{
  font-family: 'Comfortaa';
}

/**/



/*Home*/


#home{
  font-family: 'Comfortaa';
  color: white;
}


#vetor{

  max-height: 450px;
  margin-top: 10%;
  
}


.divpag{
  height: 700px;
  background-color: #7cd9e6;
}

.titulo1{
  color: white;
  text-shadow: 2px 2px 5px rgb(113, 113, 113);
  margin-left: 10%;
  font-family: 'Comfortaa';
  font-weight: 600;
  font-size: 45px;
  
}

.textopag{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 37%;
  margin-left: -30%;
}


/**/






/*Card*/
.card2{
  margin-top: 50%;
}

.card2:hover{
  transform: scale(1.1);
  transition: 0.3s;
}

.card2-title{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.card2-text  {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.card2-body{
  box-shadow:  2px 2px 10px black;
}

.iconeagenda{
  color: #344066;
}
.iconeemoji{
  color: #344066;
}
.iconegrafico{
  color: #344066;
} 

.card-equal-height .card {
  height: 170px;
}

/**/





/*Foto e texto*/
/*primeira foto e texto*/

.titulo3{
    color:white;
    font-family: 'Comfortaa', cursive;

    font-size: 35px;
    font-weight: 900;
    line-height: 125%;
    text-transform: none;
}


.textoimagem{
  font-family: 'Inter', sans-serif;
  color: white;
  margin-top: 5%;
  font-size: 17px;
  font-weight: 300;
}


.imagem1{
  border-radius: 5%;
  max-height: 60vh ;
  max-width: 90%;
}


/*Foto e texto 2*/


.titulo4{
  color: white;
  font-family: 'Comfortaa';
  font-size: 33px;
  font-weight: 900;
  line-height: 125%;
  text-transform: none;
  margin-left: 13%;
}

.txtt{
  font-size: 15px;
}

.imagem2{
  max-height: 60vh ;
  max-width: 80vh;
  border-radius: 5%;
  margin-left: 16vh;
}

#cont{
  padding-top: 10%;
}

#div3{
  margin-left: 8%;
}

#fototexto{
  width: 100%;
  height: 1300px;
}

#cont2{
  margin-top: 10%;
}

.fundoft{
  background: rgb(23,171,255);
background: linear-gradient(0deg, rgba(23,171,255,1) 28%, rgba(139,230,223,1) 90%);
}

.linha{
  width: 50%;
  color: white;
  margin-top: 10%;
}

.bi-stop-circle{
  font-size: 25px;
  margin-left: -30px;
}

.bi-slash-circle{
  font-size: 20px;
  
}
/**/



/*carousel*/


.svg1{
  margin-top: 3%;
}

.carou{
  margin-top: 10%;
}

.fundodiv{
  width: 100%;
  height: 900px;
  background-color: #16cafe;
}





.titulocarousel1{
  font-family: 'Comfortaa';
  font-weight: 600;
  font-size: 45px;
  color: white;
}

.subtitulocarousel{
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 400;
  color: white;
  font-size: 23px;
}

.borda{
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255); 
}

.my-div {
  border-radius: 10px;
  margin-top: 7%;
  margin-left: 9%;
  width: 80%;
  height: 150px;
  background-color: rgb(170, 221, 250);
  border: 1Fpx solid rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-title {
  text-align: center;
}



.titulocarou{
  display: flex;
  justify-content: center;
}

.carousel-item{
  
  max-width: 80vh;

}

#left{
  margin-left: -20px;
}

#right{
  margin-right: -25px;
}

.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}
.carousel img:first-child{
  margin-left: 0px;
}
@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

/**/





/*Footer*/





/*Software barbearia*/

#div4{
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.527);
  height: 1100px;
  background-color: #ffffff;
  border-radius: 20px;
  width: 80%;
}

.fundodiv4{
  height: 1400px;
  padding-top: 15%;
}

.background1{
  background: rgb(0,190,240);
background: linear-gradient(0deg, rgba(0,190,240,1) 41%, rgba(72,100,250,1) 90%);
}

.ff{
  margin: 0;
}

#titulovantagens{
  display: flex;
  justify-content: center;
  font-family: 'Comfortaa';
  font-size: 45px;
  font-weight: 800;
  color: rgb(0, 0, 0);
}

#titulos{
  width: 600px;
  height: 70px;
  padding-top: 8%;
}

.border{
  width: 600px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgb(146, 146, 146);

}

.border:hover{
  transform: ;
  transform: scale(1.1);
  transition: 400ms;
  background-color: #7ddfe3;
}



.bi-check-circle-fill{
  color: green;
}

.tituloicone{
  margin-left: 15px;
}

.tituloicone h5 {
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  font-size: 23px;
  font-weight: 600;

}

.bi-gear{
  
  font-size: 30px;
}
.bi-hourglass-split{
  font-size: 30px;

}
.bi-emoji-frown{
font-size: 30px;

}
.bi-calendar-check{
font-size: 30px;

}
.bi-cash-coin{
font-size: 30px;
  color: gr;
}
.bi-brush{
font-size: 30px;

}
.bi-instagram{
font-size: 30px;
  
}

.espacamento-titulo {
  padding-top: 100px; /* Ajuste o valor conforme necessário */
}



/**/







/*Planos*/

.div5 {
  height: 1300px;
  background: rgb(22,202,254);
  background: linear-gradient(180deg, rgba(22,202,254,1) 41%, rgba(72,100,250,1) 90%);
  padding: 15%;
}

.divtituloplanos{
  margin-top: -20%;

}

.tituloplanos{
  font-size: 50px;
  color: white;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  display: flex;
  justify-content: center;
  text-align: center;
}

.container1 {
  margin-top: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

/**/


/*Cards*/
.card {
  width: 300px;
  height: auto;
  padding: 10px 0;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 5px 15px black;
  transition: transform 0
}

.container1 .card{
  margin-top: -10px;
  width: 300px;
  height: auto;
  padding: 1px 0;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 5px 15px black;
  transition: transform 0.3s;
}

.container1 .card:hover{
  transform: scale(1.050);
}

.container1 .card .card-title{
  padding: 30px 20px;
  border-bottom: 2px solid gray;
}

.container1 .card .card-title h2{
  font-weight: 700;
  font-size: 35px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
}

.container1 .card .card-title p span{
  font-size: 40px;
  padding: 0 5px;
}

.container1 .card .card-content ul{
  padding: 5px 20px;
  padding-bottom: 20px;
}

.container1 .card .card-content ul li{
  list-style: none;
  padding: 10px 0;
}

.container1 .card .card-content ul li i{
  margin-right: 4px;
}

.container1 .card .card-content button{
  width: 120px;
  padding: 10px 20px;
  background: white;
  border-radius: 20px;
  margin-bottom: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.container1 .card .card-content button:hover{
  background: #8be6df;
  letter-spacing: 1.2px;
}

.container1 .card .card-content button a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
/**/


/*footer*/
a {
  color: #fff;
  text-decoration: none;
}
.pg-footer {
  font-family: 'Roboto', sans-serif;
}


.footer {
    background-color: #16cafe;
    color: #fff;
}
.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}
.footer-wave-path {
    fill: #fffff2;
}

.footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
    margin-top: -30px;
    display: inline-block;
}
.footer-menu {
  margin-left: 20%;
    margin-top: 80px;
}

.footer-menu-name {
    font-family: 'Comfortaa', cursive;
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}
.footer-menu-list li {
    margin-top: 5px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-call-to-action-button:hover {
    background-color: #fffff2;
    color: #00bef0;
}
.button:last-of-type {
    margin-right: 0;
}
.footer-call-to-action-button {
    background-color: #027b9a;
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}
.footer-call-to-action {
    margin-top: 30px;
}
.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.footer-social-links {
    bottom: 0;
    height: 54px;
    position: absolute;
    right: 0;
    width: 236px;
}

.footer-social-amoeba-svg {
    height: 54px;
    left: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 236px;
}

.footer-social-amoeba-path {
    fill: #027b9a;
}

.footer-social-link.linkedin {
    height: 26px;
    left: 3px;
    top: 11px;
    width: 26px;
}

.footer-social-link {
    display: block;
    padding: 10px;
    position: absolute;
}

.hidden-link-text {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}

.footer-social-icon-svg {
    display: block;
}

.footer-social-icon-path {
    fill: #fffff2;
    transition: fill .2s;
}

.footer-social-link.twitter {
    height: 28px;
    left: 62px;
    top: 3px;
    width: 28px;
}

.footer-social-link.youtube {
    height: 24px;
    left: 123px;
    top: 12px;
    width: 24px;
}

.footer-social-link.github {
    height: 34px;
    left: 172px;
    top: 7px;
    width: 34px;
}

.footer-copyright {
    background-color: #027b9a;
    color: #fff;
    padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}


/**/




/* Media Query For different screens */
@media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */

}




@media (min-width: 760px) {
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }

  .footer-wave-svg {
      height: 50px;
  }

  .footer-content-column {
      width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}



.title {
  text-align: center;
  margin-bottom: 30px;
}

















about-section{
  background: url(/img/11.jp) no-repeat left;
  background-size: 55%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 13px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
  }
  .inner-container{
      width: 100%;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
  }
}

.background2{
  height: 600px;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.my-custom-img {
  width: 100%;
  height: 100%;
}

.titulopreco{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Comfortaa';
}

#subpreco{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}

#menu-legal{
  margin-top: 40px;
}

/*Div card, Titulo card*/
.div1{
  width: 100%;
  display: flex;
  justify-content: center;
}


.titulo2{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  text-shadow: 2px 2px 2px #797979;
  color: #2d2935;
  margin-top: 50px;

}

#background{

  background-color: #eaf0fc ;
  height: 700px;
  width: 100%;
}
/**/